<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <section id="react"></section>
  </body>
</html>